body{
    margin: 0;
}
.seymour-one-regular {
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
  } 
.name-color{
    color: blue;
}
.para{
    text-align: justify;
    padding-right: 15px;
    font-size: 18px;
}
.btn{
    background-image: linear-gradient(blue, darkblue);
    color: white;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bolder;
    padding: 7px;
}
.first-div{
    margin: 80px 15px 0px 40px;
    width: 50%;
}
.first-div img{
    width: 90%;
}
.seco-div{
    margin: 150px 40px 0px 30px;
    width: 50%;
}
#sec1{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
#sec2{
    display: flex;
    background-image: url(images/top-banner1.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}
#sec3{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: right;
    background-position-y: bottom;
    margin-bottom: 50px;
}
#sec4{
    display: ;
    margin-top: 150px;
    margin-bottom: 50px;
}
#div4{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: center;
    justify-content: center;
}
.exp{
    margin-left: 5%;
    margin-right: 5%;
    width: 500px;
    padding: 40px;
    box-shadow: 10px 10px 20px gray;
}
#exp1{
    border-left: 8px solid;
    border-image: linear-gradient(skyblue,darkblue);
    border-image-slice: 1;
}
#exp2{
    border-left: 8px solid;
    border-image: linear-gradient(tomato,red);
    border-image-slice: 1;
}
#text{
    font-size: 72px;
    line-height: 0px;
}